<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rua Al Madina Extended</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/al-ansar-Logo_Gold.png') }}" />
  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <style>
    @font-face {
      font-family: "Majalla";
      src: url("{{ url_for('static', filename='fonts/majalla.ttf') }}") format("truetype");
      font-weight: normal;
    }

    @font-face {
      font-family: "Majalla Bold";
      src: url("{{ url_for('static', filename='fonts/majallab.ttf') }}") format("truetype");
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="main-container">
    <h2>Main Content Area</h2>
    <!-- Background Section -->

  </div>
</body>

</html>